<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post in posts %}
        <a href="create">
            <h2>{{ post['title'] }}</h2>
        </a>
	<a>
            <h5>{{ post['content'] }}</h5>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}
<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
   <h1>Welcome to FlaskBlog</h1>
</body>
</html>
--!>
